<%= form_for @recipe do |f| %>
  <p>Title: <%= f.text_field :title %></p>

    <%= f.fields_for :ingredients do |i| %>
      Ingredient: <%= i.text_field :name %>
      Qty: <%= i.text_field :quantity %><br>
    <% end %>
    <br>
  <%= f.submit %>
<% end %>
